html body{
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;

}

container {
    width: 80%;
    margin: 0 auto;
	background: rgba(196, 100, 204, 0.89);
}

header {
    background: rgba(196, 100, 204, 0.89);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.log {
    float: left;
}

nav {
    float: right;
}

nav ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
    
}

nav li {
    
    display: inline-block;
    margin-left: 70px;
}
